<nav class="navbar navbar-expand mb-3 navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/users']" routerLinkActive="active">Users</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" [routerLink]="['/sports']" routerLinkActive="active">Sports</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="nav-link" [routerLink]="['/signup']" routerLinkActive="active">Signup</a>
                </li>
            </ul>
            <button type="button" class="btn btn-danger" (click)="onLogout()" *ngIf="isLoggedIn">Logout</button>
        </div>
    </div>
</nav>
